body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(138, 255, 247), rgb(92, 255, 133));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: normal;
  src: local('Kelly Slab'), url('KellySlab-Regular.ttf') format('woff');
  }

h1{
  font-family: 'Kelly Slab';
}